<div row>
  <div class="center-align">
    <%= image_tag "https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAg5AAAAJDZkNGUyNjhiLTIzMjgtNGRiOS1hYmIwLTI3Njg5NjRiODA4ZA.jpg", class: "head-shot" %>
  </div>
</div>
<p>I am a junior developer who just moved to Vancouver for CodeCore's bootcamp. I love solving challenging problems with elegant solutions</p>

<p>I graduated from Lakehead University with a degree in chemistry. After I found employment working at a dairy, owned by Parmalat, the largest dairy company in the world.</p>

<p>I worked at the dairy for two years, and while I found the work rewarding, it was not challenging for me.</p>

<p>It was then I discovered a passion for technology and web development. I took various programming classes as electives in school and found them to be my favorite classes.</p>

<p>It was this desire to become a web developer that led me to CodeCore's bootcamp; to develop my skills to the best they can be.</p>
