<h2><%= link_to "Make a New Post", new_post_path %></h2>
<p>
  Search:
  <%= render "shared/search_bar" %>
</p>

<% (0..(@all_posts)/10).each do |page_num| %>
  <% page_num += 1 %>
  <%= link_to page_num, page_path(page_num) %>
<% end %>
<div class="row">
  <% @posts.each do |post|%>
    <%= render partial: "shared/display_post", locals: {post: post} %>
    <% end %>
</div>
