.nav-bar {
  background-color: #55eff4;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}

.about-title {
  text-align: center;
}

.head-shot {
  border: 1px solid black;
  border-radius: 50%;
  width: 25%;
  margin: 25px;
}

.thumb-nail {
  width: 100%;
}

.post {
  border: 1px solid black;
  color: black;
  border-radius: 5px;
  margin: 10px;
  padding: 15px;
  height: 250px;
}

.post:hover {
  background-color: #55eff4;
  box-shadow: 5px 5px 5px darkgrey;
  color: white;
}

.post-title {
  font-size: 1.2em;
}

 .post-link:hover {
  color: green;
}

.search {
  width: 25%;
  display: inline-block;
}
